.App {
  text-align: center;
}

.to-do-item {
  border: 2px solid green;
  display: inline-block;
  padding: 20px;
  margin: 20px;
}

.item-form label {
  padding: 5px;
}

.item-form {
  margin-top: 20px;
}

#form-submit {
  margin-left: 10px;
}